* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

h3 {
  font-size: 18px;
  color: white;
  font-weight: 700;
  text-transform: capitalize;
}

p {
  color: #9A9A9A;
}

a {
  color: #9A9A9A;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background-color: red;
}

/* main content centrale */
.main {
  display: flex;
  flex-direction: row;
  height: calc(100% - 90px);
  overflow: hidden;
}

/* main menu nav */
.main-content-main ul.flex-container {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.main-content-main ul.flex-container a {
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}

ul.flex-container a.active::after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 2px;
  background-color: #adff2f;
}

/* contenuto main */
.main-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-content-container h2 {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.flex-row-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.image-row {
  display: flex;
  flex-direction: row;
}

.img-container {
  padding: 5px;
}

.img-container img {
  width: 100%;
}

.img-container h3 {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 16px;
}

.img-relative {
  position: relative;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  height: 100%;
  opacity: 0;
}

.img-relative:hover .overlay {
  opacity: 1;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overlay-content h2 {
  color: white;
  font-size: 30px;
}

.img-relative-rounded {
  position: relative;
}

.img-relative-rounded img {
  border-radius: 50%;
}

.overlay-rounded {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.58);
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 50%;
}

.img-relative-rounded:hover .overlay-rounded {
  opacity: 1;
}

/* main nav sx */
.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100%;
  background-color: #040404;
  /* padding-left: 20px; */
}

.main-nav-header {
  /* background-color: purple; */
}

.logo-wrapper {
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 15px;
}

.main-nav-header .logo {
  width: 45%;
}

.list_item_flex {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.list_item_flex img {
  width: 40px;
  padding-left: 10px;
}

.list_item_flex .active {
  border-left: #1ED760 3px solid;
}

.main-nav-main {
  min-height: 150px;
  overflow-y: auto;
  flex-grow: 2;
  padding-left: 10px;
  /* background-color: lime; */
}

#playlist {
  padding-left: 10px;
}

.playlist_wrapper {
  display: flex;
  align-items: center;
}

.playlist_wrapper a {
  padding-left: 10px;
}

.btn.btn_playlist {
  background-color: #9A9A9A;
  border-radius: 0;
}

.btn.btn_playlist:hover {
  background-color: white;
}

.main-nav-main ul.playlist li:first-child {
  padding-top: 10px;
}

.main-nav-main ul.playlist li {
  padding-bottom: 10px;
}

.main-nav-footer {
  padding-left: 10px;
  /* background-color: brown; */
}

.main_footer_container_top {
  margin-right: 15px;
  padding: 5px 5px 5px 0;
  border-bottom: 1px solid grey;
}

.main_footer_container_top img {
  width: 7%;
}

.main_footer_container_bottom {
  padding: 10px 5px 5px 0;
}

.main_footer_container_bottom a.bold_link {
  font-weight: 700;
  padding-left: 5px;
}

.main_footer_container_bottom img {
  width: 10%;
  border-radius: 50%;
  border: 1px solid white;
}

/* main content */
.main-content {
  width: calc(100% - 320px);
  height: 100%;
  background-color: #141922;
  overflow-y: scroll;
}

.main-content-main {
  margin-top: 70px;
}

.call-to-action {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 320px);
  height: 70px;
  padding: 5px 30px;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn {
  display: inline-block;
  font-size: 20px;
  background-color: white;
}

.btn.btn_cta {
  border-radius: 15px;
  padding: 5px 20px;
  border: 1px solid white;
  background-color: transparent;
  transition: 1s;
}

.btn.btn_cta:hover {
  transform: scale(1.1);
}

a.btn.btn_cta {
  color: white;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

/* footer */
.footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px;
}

/* informazioni traccia, parte sx footer*/
.footer_track {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-basis: 20%;
}

.footer_track img {
  width: 60px;
}

.track_info {
  padding-left: 10px;
  padding-right: 25px;
}

.track_info h4 {
  margin: 0;
}

.track_icons i {
  padding: 5px;
}

/* footer media player, parte centrale */
.media_player {
  flex-basis: 65%;
}

ul.flex_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul.flex_list li {
  padding: 0 10px;
}

.flex_list i {
  font-size: 15px;
  color: white;
}

.flex_list i.big_icon {
  font-size: 35px;
}

.media_timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media_timer p {
  margin: 0;
}

.grey-line {
  position: relative;
  margin: 0 5px;
  height: 5px;
  width: 50%;
  background-color: grey;
  border-radius: 5px;
}

.white-line {
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 5px;
}

.white-line:hover {
  background-color: #adff2f;
}

.grey-line:hover .white-line {
  background-color: #adff2f;
}

.grey-line:hover .rounded_cursor {
  display: block;
}

/* parte dx del footer */
.footer_right {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-basis: 15%;
}

.footer_right i {
  color: white;
}

.grey-line-right {
  position: relative;
  height: 5px;
  flex-basis: 60%;
  background-color: grey;
  border-radius: 5px;
}

.white-line-right {
  height: 100%;
  width: 20%;
  background-color: white;
  border-radius: 5px;
}

.rounded_cursor {
  position: absolute;
  top: -3px;
  left: 18%;
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  display: none;
}

.grey-line-right:hover .white-line-right {
  background-color: #adff2f;
}

.grey-line-right:hover .rounded_cursor {
  display: block;
}

@media screen and (min-width: 768px) {
  .img-container {
    flex-basis: calc(100% / 6);
  }
}
